* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box-1 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: blueviolet;
    animation: box-1-animation 5s ease-in-out infinite;
}

@keyframes box-1-animation {


    0% {
        transform: rotate(0deg);
        background-color: red;
    }

    25% {
        background-color: rgb(30, 179, 16);
    }

    50% {
        background-color: rgb(31, 16, 146);
    }

    75% {
        background-color: rgb(223, 236, 41);
    }


    100% {
        transform: rotate(360deg);
        background-color: rgb(230, 7, 163);
    }
}